[submodule "submodules/api-public"]
	path = submodules/api-public
	url = https://github.com/MaksymHolovatyiDev/api-public
[submodule "submodules/news-service"]
	path = submodules/news-service
	url = https://github.com/MaksymHolovatyiDev/news-service
